<ion-header>
  <ion-toolbar>
    <ion-title>
      Contact us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-img src="/assets/contactnew.png"></ion-img>
        </ion-item>
        <ion-item>
            <ion-icon name="pin"></ion-icon>
            <strong>Address1</strong>
        </ion-item>
        <ion-item>
            <ion-label>#244, Fortskjdhh Summit Business Park<br>
                1st Floor, Hosur Road <br>
                Near Silk Board Junction<br>
                Bengaluru, India – 560068.<br>
                <ion-icon name="call"></ion-icon><ion-text>  +91-80-46306666</ion-text>
                <br>
                Fax: +91-80-41466262<br>
                <ion-text><ion-icon name="mail"></ion-icon>  info@bhilwarainfo.com</ion-text></ion-label><br>
            
        </ion-item>
</ion-content>
